@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Poppins:wght@300&display=swap');

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

    /* ===== Custom Colors ===== */
    --clr-red: #DA2C38;
    --clr-green: #226F54;
    --clr-light-green: #87C38F;
    --clr-teal: #F4F0BB;
    --clr-brown: #43291F;
    /* ===== Custom Colors ===== */
}

* {
    cursor: url('../images/christmas-cursor.png'), pointer !important;
    transition: all 0.5s !important;
}

/* ===== Body ===== */
body {
    margin: 0;
    padding: 0;
    background: url('../images/holy_recipe_img_bg\(5\).png') no-repeat center center fixed;
    background-size: cover;
}

/* ===== Fonts ===== */

h1,
h2,
h3 {
    font-family: 'Kalnia', serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

/* ===== Main ===== */
main {
    background-color: var(--bs-white);
    margin-top: 140px;
    padding-top: 20px;
}

/* ===== Footer ===== */
footer {
    background-color: #226F54;
}

.hide {
    display: none;
}

.footer-logo {
    max-height: 50px;
}

footer a:hover {
    text-decoration: underline;
}

/* ===== Standard Styles ===== */
.bg-transparent {
    background: rgba(0, 0, 0, 0.75) !important;
}

.bg-scroll {
    background: #226F54 !important;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
}

.shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px !important;
}

.btn1 {
    background-color: #F4F0BB;
    color: #212529;
    border: none;
    height: 43px;
}

.btn1:hover {
    background-color: #DA2C38 !important;
    color: #F4F0BB;
    border-color: #DA2C38;
}

.btn2 {
    background-color: #226F54;
    color: #f8f9fa;
    border: none;
    height: 45px;
}

.btn2:hover {
    background-color: #DA2C38 !important;
    border-color: #DA2C38;
}


/* ===== Navigation Bar ===== */

.nav-link {
    font-family: 'Kalnia', serif !important;
    color: #226F54;
}

nav .active {
    color: #DA2C38 !important;
}

nav a:hover {
    color: rgb(135, 195, 143, 0.8) !important;
}

.navbar li {
    padding-right: 15px;
}

#nav-links {
    border: var(--bs-white) solid !important;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 25px;
    background-color: var(--bs-white) !important;
}

.navbar-toggler {
    border: 2px solid var(--clr-green);
    background-color: var(--bs-light);
    margin-right: 20px;
}

/* ===== Carousel ===== */
.carousel-caption {
    border: solid 1px;
    border-radius: 20px;
    background-color: white;
    opacity: 0.9;
    color: #226F54 !important;
    padding-left: 10px;
    padding-right: 10px;
}

.carousel-indicators [data-bs-target] {
    background-color: #226F54;
}

.section1 img {
    width: 100%;
}

/* ===== Feature Recipes ===== */
.feature-recipes-col-1 {
    color: #fff !important;
    background-color: #226f54 !important;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border: none;
}

.feature-recipes-col-2 {
    border-radius: 5px;
    background-color: #F4F0BB !important;
}

.feature-recipes-modal-image {
    width: 100%;
}

/* ===== 404 page ===== */

.fourohfour {
    background-color: rgb(255, 255, 255, 0.9);
    width: 50%;
    margin-top: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 75px 90px;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.fourohfour-icon {
    color: #DA2C38;
    font-size: 50px;
}

.fourohfour-icon:hover {
    color: #87C38F;
}

/* ===== Search ===== */
#button-search {
    width: 100%;
    font-family: 'Kalnia', serif !important;
    border-radius: 20px !important;
    background-color: var(--bs-white);

}

.search-results-card {
    font-family: 'Kalnia', serif !important;
    width: 80%;
    margin: 50px auto 90px;
}


/* ===== Media queries ===== */

/* ===== Small devices (landscape phones, 576px and up) ===== */
@media (min-width: 576px) {
    .col-md-6 {
        margin-bottom: 25px;
    }
}

/* ===== Medium devices (tablets, 768px and up) ===== */
@media (min-width: 768px) {
    .fourohfour {
        width: 80%;
        padding: 10%;
    }
}

/* ===== Large devices (desktops, 992px and up) ===== */
@media (min-width: 992px) {}

/* ===== X-Large devices (large desktops, 1200px and up) ===== */
@media (min-width: 1200px) {}

/* ===== XX-Large devices (larger desktops, 1400px and up) ===== */
@media (min-width: 1400px) {}